*{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        /* background-color: #FFFFFF; */

}
h1{
        color: #00033B;
}

h2{
        color: rgb(24, 95, 228);
}

h3{
        color: blueviolet; 

}       